/* Whole page */
.landing-container {
  font-family: 'Inter', sans-serif;
  color: #1b1b1b;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 60px;
  position: fixed;
  top: 0;
  width: 100%;
  background: white;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  z-index: 10;
}

.logo {
  font-size: 28px;
  font-weight: 800;
  color: #2f7a2f;
}

.nav-links {
  display: flex;
  gap: 35px;
  font-size: 18px;
  list-style: none;
}

.nav-links li {
  cursor: pointer;
}

/* HERO SECTION */
.hero {
  height: 95vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("https://images.unsplash.com/photo-1542838132-92c53300491e");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 80px;
  position: relative;
}


/* Dark overlay on image */
.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.45);
}

.hero * {
  position: relative;
  color: white;
}

.welcome {
  letter-spacing: 2px;
}

.hero-title {
  font-size: 50px;
  max-width: 750px;
  line-height: 1.2;
  margin-top: 10px;
}

.shop-btn {
  margin-top: 25px;
  background: #8BC34A;
  border: none;
  padding: 12px 30px;
  font-size: 18px;
  border-radius: 30px;
  cursor: pointer;
}

/* FEATURES SECTION */
.features {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  padding: 60px 100px;
  gap: 20px;
}

/* CATEGORIES */
.category-section {
  text-align: center;
  padding: 60px 0;
  background: #f4ffe8;
}

.categories {
  display: flex;
  justify-content: center;
  gap: 80px;
  margin-top: 30px;
}

.categories img {
  width: 230px;
  height: 230px;
  object-fit: cover;
  border-radius: 16px;
}

/* CTA LAST BANNER SECTION LIKE MODEL */
.cta-section {
  background-size: cover;
  background-position: center;
  padding: 140px 0;
  position: relative;
  text-align: center;
}

.cta-section::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
}

.cta-overlay {
  position: relative;
  color: white;
  max-width: 800px;
  margin: auto;
}

.cta-overlay h2 {
  font-size: 40px;
  margin-bottom: 10px;
}

.cta-overlay p {
  font-size: 18px;
  margin-bottom: 15px;
}


/* FOOTER */
.footer {
  text-align: center;
  padding: 40px 0;
  background: #ecffd9;
}
